.horizontalRule {
  height: 2px;
  background-color: #e8e8e8;
  border: none;
}

.header {
  font-family: 'MontSerrat', sans-serif;
  color: #888;
  font-size: 20px;
}

.input {
  padding: 13px 17px;
  font-size: 18px;
  color: #888;
  border: 1px solid #888;
  outline: none;
  background-color: #fff;
  border-radius: 4px;
  margin-right: 40px;
}

.addTitle {
  width: 450px;
}

.addTitleBtn {
  padding: 18px 90px;
}

.form {
  margin-bottom: 50px;
}
